<form (submit)="submit()" [formGroup]="registerForm">
  <div class="form-group">
    <label for="correo_institucional">Correo institucional</label>
    <input type="email" class="form-control" formControlName="correo_institucional" placeholder="mail@uaemex.mx">
    <div class="mt-2 mb-2">
      <div *ngIf="correo_institucional?.invalid && (correo_institucional?.dirty || correo_institucional?.touched)"
        class="alert alert-danger" role="alert">
        <div *ngIf="correo_institucional?.errors?.['required']">
          El <b>correo institucional</b> es requerido.
        </div>
        <div *ngIf="correo_institucional?.errors?.['pattern']">
          El correo institucional debe tener los siguientes formatos
          <ul>
            <li>mail@uaemex.mx</li>
            <li>mail@profesor.uaemex.mx</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="constrasena">Contraseña</label>
    <input type="password" class="form-control" formControlName="contrasena">
    <div class="mt-2 mb-2">
      <div *ngIf="contrasena?.invalid && (contrasena?.dirty || contrasena?.touched)" class="alert alert-danger"
        role="alert">
        <div *ngIf="contrasena?.errors?.['required']">
          La <b>contraseña</b> es requerida.
        </div>
        <div *ngIf="contrasena?.errors?.['pattern']">
          La contraseña debe contener al menos:
          <ul>
            <li>8 caracteres</li>
            <li>Una letra minúscula</li>
            <li>Una letra mayúscula</li>
            <li>Un número</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirma_contrasena">Confirma tu contraseña</label>
    <input type="password" class="form-control" formControlName="confirma_contrasena">
    <div class="mt-2 mb-2">
      <div *ngIf="confirma_contrasena?.invalid && (confirma_contrasena?.dirty || confirma_contrasena?.touched)"
        class="alert alert-danger" role="alert">
        <div *ngIf="confirma_contrasena?.errors?.['required']">
          La <b>confirmación de contraseña</b> es requerida.
        </div>
      </div>
      <div
        *ngIf="!confirma_contrasena?.invalid && (confirma_contrasena?.dirty || confirma_contrasena?.touched) && contrasena?.value != confirma_contrasena?.value"
        class="alert alert-danger" role="alert">
        <div>
          Las contraseñas no coinciden.
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Crear cuenta</button>

  <div class="alert alert-danger" role="alert" *ngIf="!this.error?.value">
    {{ this.error.msg }}
  </div>
</form>