.pnl-izq {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    min-height: 37rem;
}

.main {
    margin-top: 50px;
    display: flex;
    margin-inline: 5%;
    margin-bottom: 50px;
}

.btn-transparent {
    background: none;
    text-align: start;
    margin-bottom: 5px;
}

.btn-transparent:hover {
    color: #28A745;
}

.btn-primary {
    background-color: #3d8557;
    border: none;
    padding-inline: 5%;
    width: 100%;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: #479965;
}

.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

.perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.lbl-file {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    cursor: pointer;
    // Alinear el texto al medio del div
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-file {
    height: 38px;
    border-radius: 10px;
}