<h5>Paso 3 - Datos de contacto</h5>
<form (ngSubmit)="this.enviarDatos()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="correo_personal">Correo personal</label>
            <input type="email" class="form-control" name="correo_personal" placeholder="correo@dominio.com" required
                [(ngModel)]="datos.correo_personal">
        </div>
        <div class="form-group col-md-6">
            <label for="telefono">Número de telefono</label>
            <input type="tel" class="form-control" name="telefono" placeholder="7224352375" pattern="[0-9]{10}"
                [(ngModel)]="datos.telefono" required>
        </div>
    </div>
    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" name="direccion" placeholder="123 Paseo universidad" required
            [(ngModel)]="direccion">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" placeholder="Toluca" required [(ngModel)]="ciudad">
        </div>
        <div class="form-group col-md-4">
            <label for="Estado">Estado</label>
            <input type=text name="Estado" class="form-control" placeholder="Estado de México" required [(ngModel)]="estado">
        </div>
        <div class="form-group col-md-2">
            <label for="codigo_postal">C.P.</label>
            <input type="text" class="form-control" name="codigo_postal" placeholder="50000" required [(ngModel)]="cp">
        </div>
    </div>
    <div class="row">  
        <button class="btn btn-light col-md-6" (click)="regresar()">Anterior</button>
        <button class="btn btn-primary col-md-6" type="submit">Siguiente</button>
    </div>
</form>