<form (submit)="login()" [formGroup]="loginForm">

  <div class="form-group">
    <label for="correo_institucional">Correo institucional</label>
    <input type="email" class="form-control" placeholder="mail@uaemex.mx" formControlName="correo_institucional">
    <div class="mt-2 mb-2">
      <div *ngIf="correo_institucional?.invalid && (correo_institucional?.dirty || correo_institucional?.touched)"
        class="alert alert-danger" role="alert">
        <div *ngIf="correo_institucional?.errors?.['required']">
          El <b>correo institucional</b> es requerido.
        </div>
        <div *ngIf="correo_institucional?.errors?.['pattern']">
          El correo institucional debe tener los siguientes formatos
          <ul>
            <li>mail@uaemex.mx</li>
            <li>mail@profesor.uaemex.mx</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="constrasena">Contraseña</label>
    <input type="password" class="form-control" formControlName="contrasena">
    <div class="mt-2 mb-2">
      <div *ngIf="contrasena?.invalid && (contrasena?.dirty || contrasena?.touched)" class="alert alert-danger"
        role="alert">
        <div *ngIf="contrasena?.errors?.['required']">
          La <b>contraseña</b> es requerida.
        </div>
      </div>
    </div>
  </div>
  
  <div class="alert alert-danger" role="alert" *ngIf="!this.error?.value">
    {{ this.error.msg }}
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button> <br>
  <!-- <button class="btn btn-light btn-block">Olvide mi contraseña</button> <br> -->
</form>