<form (submit)="login()" [formGroup]="loginForm">

    <div class="form-group">
      <label for="correo_personal">Correo personal</label>
      <input type="email" class="form-control" placeholder="mail@gmail.com" formControlName="correo_personal">
      <div class="mt-2 mb-2">
        <div *ngIf="correo_personal?.invalid && (correo_personal?.dirty || correo_personal?.touched)"
          class="alert alert-danger" role="alert">
          <div *ngIf="correo_personal?.errors?.['required']">
            El <b>correo personal</b> es requerido.
          </div>
          <div *ngIf="correo_personal?.errors?.['pattern']">
            Debe ingresar un correo válido.
          </div>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="constrasena">Contraseña</label>
      <input type="password" class="form-control" formControlName="contrasena">
      <div class="mt-2 mb-2">
        <div *ngIf="contrasena?.invalid && (contrasena?.dirty || contrasena?.touched)" class="alert alert-danger"
          role="alert">
          <div *ngIf="contrasena?.errors?.['required']">
            La <b>contraseña</b> es requerida.
          </div>
        </div>
      </div>
    </div>
  
    <div class="alert alert-danger" role="alert" *ngIf="!this.error?.value">
      {{ this.error.msg }}
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button> <br>
    <!-- <button class="btn btn-light btn-block">Olvide mi contraseña</button> <br> -->
  </form>