<div class="col-md-10">
  <button type="button" class="btn btn-transparent btn-outline-success" (click)="cambia_pagina(0)" #btnDA>Datos
    académicos</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(1)" #btnCert>Certificaciones</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(2)" #btnCur>Cursos</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(3)" #btnIdio>Idiomas</button>
</div>
<hr class="hr">
<div class="col-md-9 ">
  <div class="contenido">
    <app-academic-data *ngIf="pagina == 0"></app-academic-data>
    <app-certifications *ngIf="pagina == 1"></app-certifications>
    <app-courses *ngIf="pagina == 2"></app-courses>
    <app-languages *ngIf="pagina == 3"></app-languages>
  </div>
</div>