<div class="col-md-12">
  <button type="button" class="btn btn-transparent btn-outline-success" (click)="cambia_pagina(0)" #btnAcad>Datos
    académicos</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(1)" #btnCert>Certificaciones</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(2)" #btnCour>Cursos</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(3)" #btnLang>Idiomas</button>
</div>
<div class="col-md-11">
  <hr class="hr">
  <div class="contenido">
    <app-academic-data *ngIf="pagina == 0"></app-academic-data>
    <app-certifications *ngIf="pagina == 1"></app-certifications>
    <app-courses *ngIf="pagina == 2"></app-courses>
    <app-languages *ngIf="pagina == 3"></app-languages>
  </div>
</div>