<div class="main">
  <div class="pnl-izq col-md-2">
    <button class="btn btn-transparent btn-outline-success" (click)="cambia_pagina(0)" #btnDP>Datos personales</button>
    <button class="btn btn-transparent" (click)="cambia_pagina(1)" #btnDA>Ficha técnica</button>
  </div>
  <div class="pnl-der col-md-12 ml-5">
    <app-datos-personales *ngIf="pagina == 0" [token_data]="token_data">
    </app-datos-personales>
    <!-- <app-datos-academicos *ngIf="pagina == 1" [token_data]="token_data"></app-datos-academicos> -->
    <app-ficha-tecnica *ngIf="pagina == 1" [token_data]="token_data"></app-ficha-tecnica>
  </div>
</div>