<div class="col-md-10">
  <button type="button" class="btn btn-transparent btn-outline-success" (click)="cambia_pagina(0)" #btnDA>Datos
    académicos</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(1)"
    #btnCertificaciones>Certificaciones</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(2)" #btnCursos>Cursos</button>
  <button type="button" class="btn btn-transparent" (click)="cambia_pagina(3)" #btnIdiomas>Idiomas</button>
</div>
<div class="col-md-9 ">
  <div class="contenido">
    <app-datos-academicos *ngIf="pagina == 0" [token_data]="token_data"></app-datos-academicos>
    <app-certificaciones *ngIf="pagina == 1" [token_data]="token_data"></app-certificaciones>
    <app-cursos *ngIf="pagina == 2" [token_data]="token_data"></app-cursos>
    <app-idiomas *ngIf="pagina == 3" [token_data]="token_data"></app-idiomas>
  </div>
</div>