<footer class="text-center text-lg-start bg-gradient">
    <div class="container p-2">
      <div class="row">
        <div class="col">
          <h5>Contacto:</h5>
          <p>
            admin@uaemex.mx <br>
            722 214 0414 ext. 155
          </p>
        </div>
        <div class="col">
          <h5>UAEMéx</h5>
          <p>
            Transparencia <br>
            Protocolo de seguridad
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <i>2022, Celebración de los 195 Años de la Apertura de las Clases en el Instituto Literario</i>
    </div>
  </footer>