<form (Submit)="enviarDatos()" [formGroup]="dpForm">

  <label for="nombre"><b>Nombe completo</b></label>
  <div class="form-row">
    <div class="form-group col-md-2">
      <input type="text" class="form-control" name="nombre" placeholder="Nombre(s)" formControlName="nombre">
      <div class="mt-2 mb-2">
        <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="nombre?.errors?.['required']">
            El campo <b>nombre</b> es obligatorio.
          </div>
          <div *ngIf="nombre?.errors?.['minlength']">
            La longitud mínima del nombre es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-md-2">
      <input type="text" class="form-control" name="apellido_p" placeholder="Apellido paterno"
        formControlName="apellido_p">
      <div class="mt-2 mb-2">
        <div *ngIf="apellido_p?.invalid && (apellido_p?.dirty || apellido_p?.touched)" class="alert alert-danger"
          role="alert">
          <div *ngIf="apellido_p?.errors?.['required']">
            El campo <b>apellido paterno</b> es obligatorio.
          </div>
          <div *ngIf="apellido_p?.errors?.['minlength']">
            La longitud mínima del apellido paterno es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-md-2">
      <input type="text" class="form-control" name="apellido_m" placeholder="Apellido materno"
        formControlName="apellido_m">
      <div class="mt-2 mb-2">
        <div *ngIf="apellido_m?.invalid && (apellido_m?.dirty || apellido_m?.touched)" class="alert alert-danger"
          role="alert">
          <div *ngIf="apellido_m?.errors?.['required']">
            El campo <b>apellido materno</b> es obligatorio.
          </div>
          <div *ngIf="apellido_m?.errors?.['minlength']">
            La longitud mínima del apellido materno es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>
  </div>

  <label for="nombre"><b>Dirección</b></label>
  <div class="form-row">
    <div class="form-group  col-md-2">
      <input type="text" class="form-control" name="apellido_m" placeholder="Calle" formControlName="calle">
      <div class="mt-2 mb-2">
        <div *ngIf="calle?.invalid && (calle?.dirty || calle?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="calle?.errors?.['required']">
            El campo <b>calle</b> es obligatorio.
          </div>
          <div *ngIf="calle?.errors?.['minlength']">
            La longitud mínima es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group  col-md-1">
      <input type="text" class="form-control" name="no_ext" placeholder="No. ext." formControlName="no_ext">
      <div class="mt-2 mb-2">
        <div *ngIf="no_ext?.invalid && (no_ext?.dirty || no_ext?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="no_ext?.errors?.['pattern']">
            Debe ingresar solo números.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group  col-md-1">
      <input type="text" class="form-control" name="no_int" placeholder="No. int." formControlName="no_int">
      <div class="mt-2 mb-2">
        <div *ngIf="no_int?.invalid && (no_int?.dirty || no_int?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="no_int?.errors?.['pattern']">
            Debe ingresar solo números.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group  col-md-2">
      <input type="text" class="form-control" name="colonia" placeholder="Colonia" formControlName="colonia">
      <div class="mt-2 mb-2">
        <div *ngIf="colonia?.invalid && (colonia?.dirty || colonia?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="colonia?.errors?.['required']">
            El campo <b>colonia</b> es obligatorio.
          </div>
          <div *ngIf="colonia?.errors?.['minlength']">
            La longitud mínima es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group  col-md-2">
      <input type="text" class="form-control" name="estado" placeholder="Estado" formControlName="estado">
      <div class="mt-2 mb-2">
        <div *ngIf="estado?.invalid && (estado?.dirty || estado?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="estado?.errors?.['required']">
            El campo <b>estado</b> es obligatorio.
          </div>
          <div *ngIf="estado?.errors?.['minlength']">
            La longitud mínima es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group  col-md-2">
      <input type="text" class="form-control" name="municipio" placeholder="Municipio" formControlName="municipio">
      <div class="mt-2 mb-2">
        <div *ngIf="municipio?.invalid && (municipio?.dirty || municipio?.touched)" class="alert alert-danger"
          role="alert">
          <div *ngIf="municipio?.errors?.['required']">
            El campo <b>colonia</b> es obligatorio.
          </div>
          <div *ngIf="municipio?.errors?.['minlength']">
            La longitud mínima es de 3 caracteres.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group  col-md-2">
      <input type="text" class="form-control" name="cp" placeholder="C.P." formControlName="cp">
      <div class="mt-2 mb-2">
        <div *ngIf="cp?.invalid && (cp?.dirty || cp?.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="cp?.errors?.['required']">
            El campo <b>C.P.</b> es obligatorio.
          </div>
          <div *ngIf="cp?.errors?.['minlength']">
            La longitud mínima es de 5 números.
          </div>
          <div *ngIf="cp?.errors?.['pattern']">
            Debe ingresar solo números.
          </div>
        </div>
      </div>
    </div>
  </div>

  <label for="nombre"><b>Datos de contacto</b></label>
  <div class="form-row mb-3">
    <label for="staticEmail" class="col-md-2 col-form-label">Correo personal</label>
    <div class="col-md-4">
      <input type="email" class="form-control" name="correo_personal" placeholder="mail@google.com"
        formControlName="correo_personal">
    </div>
  </div>
  <div *ngIf="correo_personal?.invalid && (correo_personal?.dirty || correo_personal?.touched)"
    class="alert alert-danger col-md-6" role="alert">
    <div *ngIf="correo_personal?.errors?.['required']">
      El campo <b>correo personal</b> es obligatorio.
    </div>
    <div *ngIf="correo_personal?.errors?.['minlength']">
      La longitud mínima es de 3 caracteres.
    </div>
  </div>

  <div class="form-row mb-3">
    <label for="staticEmail" class="col-md-2 col-form-label">Correo institucional</label>
    <div class="col-md-4">
      <input type="email" class="form-control" name="correo_institucional" placeholder="mail@uaemex.mx"
        formControlName="correo_institucional">
    </div>
  </div>
  <div *ngIf="correo_institucional?.invalid && (correo_institucional?.dirty || correo_institucional?.touched)"
    class="alert alert-danger col-md-6" role="alert">
    <div *ngIf="correo_institucional?.errors?.['required']">
      El campo <b>correo institucional</b> es obligatorio.
    </div>
    <div *ngIf="correo_institucional?.errors?.['minlength']">
      La longitud mínima es de 3 caracteres.
    </div>
  </div>

  <div class="form-row mb-3">
    <label for="staticEmail" class="col-md-2 col-form-label">Teléfono</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="telefono" placeholder="xxxxxxxxxx" formControlName="telefono">
    </div>
  </div>
  <div *ngIf="telefono?.invalid && (telefono?.dirty || telefono?.touched)" class="alert alert-danger col-md-6"
    role="alert">
    <div *ngIf="telefono?.errors?.['required']">
      El campo <b>teléfono</b> es obligatorio.
    </div>
    <div *ngIf="telefono?.errors?.['minlength']">
      La longitud mínima es de 10 caracteres.
    </div>
    <div *ngIf="telefono?.errors?.['pattern']">
      Debe ingresar solo números.
    </div>
  </div>
</form>