.custom-file {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-inline: 5px;
}

.align {
    margin-top: 32px;
}

.btn-file {
    height: 38px;
}

.btn-salir {
    width: 100%;
}

.perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.label-lic {
    width: 100%;
}

.licenciatura {
    border-radius: 10px;
    padding-inline: 30px;
    padding-top: 5px;
    margin-top: 8px;
    margin-bottom: 22px;
    height: 35px;
}

.ldg {
    background-color: #ff8de3b3;
}

.ldi {
    background-color: #70cbffb3;
}

.arq {
    background-color: #fff170b3;
}

.apou {
    background-color: #70ff83b3;
}