.btn-primary {
    background-color: #3d8557;
    border: none;
    padding-inline: 5%;
    width: 45%;
    margin: 15px;
}

.btn-danger {
    border: none;
    padding-inline: 5%;
    width: 45%;
    margin: 15px;
}

.btn-file {
    height: 38px;
}

.title {
    font-size: 20px;
}