<div class="col-md-9">
  <div *ngIf="modo_agregar == true; else boton_ini">
    <label for="grado_s" class="title"><b>Datos académicos</b></label>
    <form (submit)="enviarDatos()" [formGroup]="daForm">
      <div class="row">
        <div class="col-md-10">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="grado_s" class="col-form-label is-required">Grado academico</label>
              <select class="form-control" name="grado_s" placeholder="Grado" formControlName="grado_s">
                <option class="dropdown-item" value="Licenciatura">
                  Licenciatura
                </option>
                <option class="dropdown-item" value="Maestria">
                  Maestria
                </option>
                <option class="dropdown-item" value="Doctorado">
                  Doctorado
                </option>
                <option class="dropdown-item" value="Especialidad">
                  Especialidad
                </option>
                <option class="dropdown-item" value="Diplomado">
                  Diplomado
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="grado_t" class="col-form-label is-required">Grado obtenido</label>
              <input type="text" class="form-control" name="grado_t" placeholder="Grado obtenido"
                formControlName="grado_t">
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="institucion" class="col-form-label is-required">Institución educativa emisora</label>
              <select class="form-control" name="institucion" placeholder="Institución educativa emisora"
                formControlName="institucion">
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="fecha" class="col-form-label is-required">Fecha de obtención</label>
              <input type="date" class="form-control" name="fecha" placeholder="Fecha de obtención"
                formControlName="fecha">
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="comprobante_t" class="col-form-label is-required"><b>Comprobante de grado</b></label>
              <input type="text" class="form-control plain" name="comprobante_t" formControlName="comprobante_t">
            </div>
            <div class="form-group col-md-3">
              <div class="btn btn-primary btn-file">
                <label class="form-label text-white" for="comprobante">Abrir</label>
                <input type="file" class="form-control d-none" id="comprobante" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="cedula_t" class="col-form-label is-required"><b>Cedula profesional</b></label>
              <input type="text" class="form-control plain" name="cedula_t" formControlName="cedula_t">
            </div>
            <div class="form-group col-md-3">
              <div class="btn btn-primary btn-file">
                <label class="form-label text-white" for="comprobante">Abrir</label>
                <input type="file" class="form-control d-none" id="ceduka" />
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-danger" (click)="cambiarModo(2)">Cancelar</button>
        <button class="btn btn-primary" type="submit" (click)="cambiarModo(1)">Agregar</button>
      </div>
    </form>
  </div>
  <ng-template #boton_ini class="col-md-10"><button class="btn btn-primary" (click)="cambiarModo(1)">Agregar</button></ng-template>


  <table class="table">
    <thead>
      <tr>
        <th>Grado</th>
        <th>Grado obtenido</th>
        <th>Institución educativa emisora</th>
        <th>Fecha de obtención</th>
        <th>Título</th>
        <th>Cédula</th>
        <th>Validado</th>
        <th></th>
      </tr>
    </thead>
  </table>
  <button class="btn btn-secondary" (click)="change()">Siguiente</button>
</div>