<footer class="text-center text-lg-start bg-gradient">
    <div class="container p-2">
      <div class="row">
        <!--<img src="../../../assets/img/footer.jpg">-->
        <div class="col">
          <h5>Contacto:</h5>
          <p>
            uepa_fad@uaemex.mx <br>
            722 214 0414 ext. 155
          </p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="text-center">
      <i>2023, Conmemoración de los 195 Años de la fundación del Instituto Literario del Estado de México </i>
    </div>
  </footer>