<h5>Paso 2 - Datos personales</h5>
<form (ngSubmit)="this.enviarDatos()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombe(s)</label>
            <input type="text" class="form-control" name="nombre" required [(ngModel)]="datos.nombre">
        </div>
        <div class="custom-file align">
            <label for="img" class="custom-file-label" *ngIf="datos.img">{{datos.img.substring(12, 30)}}</label>
            <label for="img" class="custom-file-label" *ngIf="!datos.img">Imagen de perfil</label>
            <input type="file" class="custom-file-input" accept=".jpg, .jpeg, .JPG, .JPEG" name="img" required
                [(ngModel)]="datos.img">
        </div>
        <div class="form-group col-md-6">
            <label for="apellido_p">Apellido paterno</label>
            <input type="text" class="form-control" name="apellido_p" required [(ngModel)]="datos.apellido_p">
        </div>
        <div class="form-group col-md-6">
            <label for="apellido_m">Apellido materno</label>
            <input type="text" class="form-control" name="apellido_m" pattern="[0-9]{10}" required [(ngModel)]="datos.apellido_m">
        </div>
    </div>
    <div class="form-group">
        <label for="no_emp">No. de Empleado</label>
        <input type="text" class="form-control" name="no_emp" required [(ngModel)]="datos.no_empleado">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="rfc">RFC</label>
            <input type="text" class="form-control" name="rfc" required [(ngModel)]="datos.rfc">
        </div>
        <div class="form-group col-md-6">
            <label for="curp">CURP</label>
            <input type="text" class="form-control" name="curp" required [(ngModel)]="datos.curp">
        </div>
        <div class="custom-file">
            <label for="rfcd" class="custom-file-label" *ngIf="datos.doc_rfc">{{datos.doc_rfc.substring(12, 30)}}</label>
            <label for="rfcd" class="custom-file-label" *ngIf="!datos.doc_rfc">PDF de su RFC</label>
            <input type="file" class="custom-file-input" accept=".pdf" name="rfcd" required [(ngModel)]="datos.doc_rfc">
        </div>
        <div class="custom-file">
            <label for="curpd" class="custom-file-label" *ngIf="datos.doc_curp">{{datos.doc_curp.substring(12, 30)}}</label>
            <label for="curpd" class="custom-file-label" *ngIf="!datos.doc_curp">PDF de su CURP</label>
            <input type="file" class="custom-file-input" accept=".pdf" name="curpd" required [(ngModel)]="datos.doc_curp">
        </div>
    </div>
    
    <div class="row">  
        <button class="btn btn-light col-md-6" (click)="regresar()">Anterior</button>
        <button class="btn btn-primary col-md-6" type="submit">Siguiente</button>
    </div>
</form>